@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

$zIndex-notification: 1000;
$notification-top: 30px;
$notification-bottom: 30px;
$notification-right: 30px;
$notification-width: 300px;
$notification-text-margin-right: 15px;
$default-border-radius: 4px;
$notice-padding: 15px;
$notice-background: $gray-darkest;
$notice-bottom: 15px;

.u-notification{
  position: fixed;
  z-index: $zIndex-notification;
  width: $notification-width;
  margin-right: $notification-text-margin-right;

  &-topRight{
      top: $notification-top;
      right: $notification-right;
  }
  &-bottomRight{
      bottom: $notification-bottom;
      right: $notification-right;
  }

  &-notice {
    padding: $notice-padding;
    border-radius: $default-border-radius;
    @include shadow-3dp();
    background: $notice-background;
    line-height: 1.5;
    opacity: .9;
    margin-bottom: $notice-bottom;
    overflow: hidden;
    color: #fff;
    &-title {
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 20px;
    }
    &-description {
        font-size: 12px;
    }

    &-closable {
      padding-right: 20px;
    }

    &-close {
      position: absolute;
      right: 5px;
      top: 3px;
      color: $gray-lighter;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: .2;
      text-decoration: none;

      &-x:after {
        content: '×';
      }

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        text-decoration: none;
      }

    }
  }

  &-notice-light {
        background-color: #fff;
        color: #000;
        &-close {
            color: #000;
        }
      }

  @mixin fade-effect() {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  }

  &-fade-enter {
    opacity: 0;
    @include fade-effect();
    animation-play-state: paused;
  }

  &-fade-leave {
    @include fade-effect();
    animation-play-state: paused;
  }

  &-fade-enter + &-fade-enter-active {
    animation-name: rcNotificationFadeIn;
    animation-play-state: running;
  }

  &-fade-leave + &-fade-leave-active {
    animation-name: rcDialogFadeOut;
    animation-play-state: running;
  }

  @keyframes uNotificationFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes uDialogFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
